.BuildControls {
    width: 100%;
<<<<<<< HEAD
    background-color: #CF8F2E;
=======
    background-color: #CF9F2E;
>>>>>>> 30ae0c711ea191196586e6488f63d73ff80bdee0
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}
